// override defalt minima variables 

// width of the content area
// can be set as "px" or "%"
$content-width:    800px;
$on-palm:          720px;
$on-laptop:        600px;
$on-medium:        800px;
$on-large:         1000px;
